*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  background: #ECF2F8;
}

img {
  display: block;
}

.article-preview {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 28em;
  width: 73em;
  border-radius: 10px;
  margin: 10em auto;
  -webkit-box-shadow: 0 5px 10px #6E8098;
          box-shadow: 0 5px 10px #6E8098;
}

.article-preview__media {
  width: 100%;
  max-width: 32em;
}

.article-preview__media img {
  width: 100%;
  height: 100%;
}

.article-preview__content {
  padding: 20px;
  width: 100%;
  padding: 20px 30px;
}

.article-preview .article-preview__header {
  font-size: 2em;
  letter-spacing: 1.2px;
  color: #48556A;
  margin-bottom: 10px;
}

.article-preview .article-preview__body {
  color: #6E8098;
  font-size: 1.4em;
  margin-bottom: 20px;
}

.article-preview .article-preview__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-preview .article-preview__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.article-preview .article-preview__avatar__media img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.article-preview .article-preview__avatar__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-left: 12px;
}

.article-preview .article-preview__avatar__name h5 {
  color: #48556A;
  font-size: 14px;
}

.article-preview .article-preview__avatar__name p {
  color: #6E8098;
  font-size: 13px;
  font-weight: 100;
}

.article-preview .article-preview__cta {
  position: absolute;
  z-index: 200;
  bottom: 25px;
  right: 40px;
  background: #ECF2F8;
  width: 3.2em;
  height: 3.2em;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: 0px 2px 4px #000;
          box-shadow: 0px 2px 4px #000;
  -webkit-transition: all .5ms ease-in;
  transition: all .5ms ease-in;
}

.article-preview .article-preview__cta i {
  color: #6E8098;
  font-size: 1.8em;
  line-height: 32px;
}

.article-preview .article-preview__cta.active {
  background: #6E8098;
}

.article-preview .article-preview__cta.active i {
  color: #ECF2F8;
}

.article-preview .share-modal {
  background: #48556A;
  color: #9DAEC2;
  height: 5.5em;
  width: 24.8em;
  border-radius: 10px;
  position: absolute;
  z-index: 100;
  top: 44%;
  right: -66px;
  display: none;
  opacity: 0;
  -webkit-box-shadow: 0 2px 4px #000;
          box-shadow: 0 2px 4px #000;
}

.article-preview .share-modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.article-preview .share-modal__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 175px;
  margin: 0 auto;
}

.article-preview .share-modal__list__header {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 5px;
  font-weight: 300;
}

.article-preview .share-modal__list i {
  color: #ECF2F8;
  font-size: 22px;
  vertical-align: text-top;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.article-preview .share-modal__list i:hover {
  color: #a1bfdd;
}

.article-preview .share-modal::after {
  background-color: #48556A;
  content: '';
  height: 22px;
  width: 22px;
  position: absolute;
  top: 98%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

@media (max-width: 42em) {
  .article-preview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 85%;
    height: auto;
  }
  .article-preview__media {
    max-width: 100%;
  }
  .article-preview__content {
    padding: 10px 15px;
  }
  .article-preview .article-preview__header {
    font-size: 1.6em;
  }
  .article-preview .article-preview__body {
    font-size: 1.2em;
  }
  .article-preview .share-modal {
    top: calc(100% - 5.5em);
    left: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
  .article-preview .share-modal::after {
    display: none;
  }
  .article-preview .share-modal__list {
    width: 65%;
    margin-left: 20px;
  }
  .article-preview .article-preview__cta {
    bottom: 16px;
    right: 25px;
    width: 2.5em;
    height: 2.5em;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .article-preview .article-preview__cta i {
    font-size: 1.5em;
    line-height: 25px;
  }
  .attribution {
    display: none;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */